*{
    color: rgb(136, 134, 135);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.body{
    background: rgb(0, 0, 0);
}

.navbar{
    box-shadow: var(box-shadow);
}

.navbar-nav .nav-link {
    font-size: 1.5rem;
}

.navbar-brand-lg {
    font-size: 1.9rem; 
    font-weight: bold;
}

img.slide{
   
    height: 650px;
    
}

.statement{
    text-align: center;
}

.box1{
    cursor: pointer;
   height: 35px;
   width: 400px;
   border-radius: 10px;
   background-color: rgb(177, 177, 177);
}

.carscollection{
    display: flex;
    justify-content: center;
    gap: 40px;
}


@keyframes typing {
    0%, 100% { width: 0; }
    50% { width: 100%; }
}



.list1{
    padding: 40px;
   list-style : none;
   display: flex;
   gap: 100px;
   justify-content: center;
   
}
.li1{
    font-size: 30px;
}


.c1h1{
    text-align: center;
}
.h2c2{
    display: flex;
    justify-content: center;

}

.last{
   text-align: center;

}

.last .para3{
    text-align: center;
   
}


.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-body{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
  
}

.card-body .card-title{
    color: gold;
}

.h1{
    text-align: center;
}



.fpara{
    width: 300px;
}

.explore{
    text-decoration: none;
}
